/* メッセージコンテナ */
.message-container {
    width: 400px;
    height: calc(1.5em * 15); /* 15行分の高さを指定 */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* 縦にスクロール可能 */
    background-color: #f9f9f9;
    font-size: 1em;
    line-height: 1.5em; /* 1行の高さを1.5emに */
}

/* メッセージごとの要素 */
.message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e1f5fe;
    border-radius: 5px;
    word-wrap: break-word;
}

.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
}